In [1]:
import pandas as pd
friends_df = pd.read_csv("headwinds_twitter_friends.csv")

In [3]:
friends_df.head()

,name,username,description,website,followers,favourites
0,Yves Peirsman,yvespeirsman,Natural Language Processing at @nlptown,https://t.co/oc8Q3pcMZb,818,556
1,Maria Capelle Frantz,mariacfrantz,Cartoonist & illustrator â˜… Creator of The Chan...,https://t.co/CPwwxklPnO,4267,6206
2,Guillermo Del Tired,mazarbor,canzine 2019 ðŸŒ± susie wilson (she/her) // carto...,https://t.co/lhXJ2TWFpf,191,16332
3,shannon,shannonkao,"programmer by day, very tired by night & in be...",https://t.co/meY4VPLEtF,4769,4809
4,Starsoft - PAX West,WestonPDX,"Video game maker. Working on Savior, a smooth ...",https://t.co/eXeceoDYoS,3969,3376

In [4]:
friends_df.describe()

          followers     favourites
count  3.600000e+02     360.000000
mean   3.859998e+04   10072.719444
std    2.677872e+05   26485.266450
min    5.000000e+00       0.000000
25%    8.370000e+02     758.000000
50%    3.297000e+03    2825.500000
75%    1.103075e+04    9254.000000
max    4.119520e+06  381356.000000